body {
    /*font-family: Maven Pro, sans-serif;*/
    font-family: Biryani;
}

h1 {
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 900;
}

h2 {
    font-size: 50px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
    font-weight: 600;
}

#firstBoard {
    margin-top: 50px;
    background-image: -webkit-linear-gradient(top, rgb(209, 201, 255) 0%, rgb(252, 198, 255) 100%);
}

#firstContent {
    padding-top: 30%;
}

.navbar {
    background: #d1c9ff;
}

#centNavButtons {
    margin-left: 28.5%;
}